<div id="last-seen">
    Hoje 11:30
</div>

<div class="messages">
    @defer(on timer(2s)){
    <div class="message">
        <div class="top">Beatriz Accioly - 11:30</div>
        <div class="body">
            I had an incredible idea! 😍
        </div>
    </div>
    }
    @defer(on timer(3s)){
    <div class="message you">
        <div class="top">You - 11:33</div>
        <div class="body">
            Give the chat!
        </div>
    </div>
    }
    @defer(on timer(5s)){
    <div class="message">
        <div class="top">Beatriz Accioly - 11:38</div>
        <div class="body">
            Let's create an English learning app?
        </div>
    </div>
    }
    @defer(on timer(6s)){
    <div class="message you">
        <div class="top">You - 11:39</div>
        <div class="body">
            Let's gooo
        </div>
    </div>
    }
</div>