<div id="top-wrapper">
    <div id="person-info">
        <img src="https://media.licdn.com/dms/image/D4E35AQFH4u04ArGdXw/profile-framedphoto-shrink_800_800/0/1707158785586?e=1708545600&v=beta&t=DG4DLXSeiNIzl-9MjrlsMSqT2-fObL1GfcarPl99Bs8"
            alt="A portrait of a woman">
        <div id="person-status">
            <strong>Beatriz Accioly</strong>
            <div class="status">
                Online
            </div>
        </div>
    </div>
    <div id="close-chat">
        <i class="ph ph-x"></i>
    </div>
</div>