* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-box-sizing: grayscale;
}

:root {
    font-size: 62.5%;
}

body {
    background-color: #1a1924;
    font-size: 1.6rem;
    color: #E1E1E6;

    * {
        font-family: "Roboto", sans-serif;
    }
}